{% extends 'base.html.twig' %}
{% block body %}
    <div class="d-flex flex-column">
    <h1 class="title">Search</h1>
    {% include './form/searchForm.html.twig' with {'form': form} %}
    {% if result %}
    <div class="mt-2">
        <h2>Résultats</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4">
            {% for item in result %}
                <div class="col">
                    <article class="card h-100 pointer card-result" data-resource_url="{{ item.resource_url }}" data-controller="search" data-action="click->search#next">
                        {% if item.thumb %}
                            <img src="{{ item.cover_image }}" alt="{{ item.title }}" class="card-img-top">
                        {% else %}
                            <div class="card-img-top"></div>
                        {% endif %}
                        <div class="card-body">
                            <h3 class="card-title">{{ item.title }}</h3>
                            <h4 class="card-subtitle mb-2 text-body-secondary text-capitalize h6">{{ item.type }}</h4>
                            <p class="card-text">
                                {% if item.country %}
                            <p>Pays: {{ item.country }}</p>
                            {% endif %}

                            {% if item.year %}
                                <p>Année de sortie: {{ item.year }}</p>
                            {% endif %}

                            {% if item.format.length %}
                                <p>Format: {{ item.format|join(', ') }}</p>
                            {% endif %}

                            {% if item.genre %}
                                <p>Genre: {{ item.genre|join(', ') }}</p>
                            {% endif %}
                            </p>
                        </div>
                        <footer class="card-footer">
                            <a class="btn btn-link btn-sm mx-auto d-block w-auto"
                               href="https://www.discogs.com{{ item.uri }}" target="_blank">
                                <i class="fa fa-external-link-alt mr-2"></i>
                                En savoir plus
                            </a>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}