<form action="{{ path('search') }}" method="get" class="input-group mt-2 w-50" id="searchForm">
    <select class="form-control" id="selectElement" name="query">
        {% for fruit in fruits %}
            {% if app.request.query.get('query') == fruit.name %}
                <option value="{{fruit.name}}" selected>{{fruit.name}}</option>
            {% else %}
                <option value="{{fruit.name}}">{{fruit.name}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <select id="multiple-optgroups" multiple>
        <optgroup label="Artistes">
            {% if result %}
                {% for artist in result %}
                    {% if artist.type=="Artist" %}
                        <option value="{{artist.title}}">{{artist.title}}</option>
                        {% else %}
                            <option value="{{ artist.title }}">{{ artist.title|split(' - ')[0] }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </optgroup>
    </select>
    <script>
        new SlimSelect({
            select: '#selectElement'
        });
        new SlimSelect({
            select: '#multiple-optgroups'
        });
    </script>
    <button type="submit" class="btn btn-dark ml-3">
        <i class="fa fa-search"></i>
    </button>
</form>
<script>
    const searchInput = document.getElementById('typeFilter');

    // Function to handle input event
    function handleInput() {
        document.getElementById('searchForm').submit(); // Submit the form
    }

    // Add input event listener to the search input field
    searchInput.addEventListener('input', handleInput);
</script>
