<form action="{{ path('search') }}" method="get" class="input-group mt-2 w-50" id="searchForm">
    <select class="form-control" id="selectElement" name="query">
        {% for fruit in fruits %}
            {% if app.request.query.get('query') == fruit.name %}
                <option value="{{fruit.name}}" selected>{{fruit.name}}</option>
            {% else %}
                <option value="{{fruit.name}}">{{fruit.name}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <select class="form-control" id="typeFilter" name="artist" multiple>
        <optgroup label="Artistes">
            {% if artists %}
                {% for artist in artists %}
                    <option value="{{ artist }}">{{artist}}</option>
                {% endfor %}
            {% endif %}
        </optgroup>
    </select>
    <button type="button" class="btn btn-dark ml-3" id="searchButton">
        <i class="fa fa-search"></i>
    </button>
</form>
<script>
    new SlimSelect({
        select: '#selectElement'
    });
    new SlimSelect({
        select: '#typeFilter',
        settings: {
            placeholderText: 'Filtrer',
        }
    });

    // Function to handle click event on the search button
    document.getElementById('searchButton').addEventListener('click', function() {
        updateUrl(); // Update URL
    });

    // Event listener to handle change event on the first select element
    document.getElementById('selectElement').addEventListener('change', function() {
        updateUrl2(); // Update URL
    });

    // Function to update the URL with selected artists
    function updateUrl() {
        const selectedArtists = Array.from(document.querySelectorAll('#typeFilter option:checked')).map(option => option.value);
        const queryParams = new URLSearchParams(window.location.search);
        queryParams.set('artist', selectedArtists.join(','));
        queryParams.set('query', document.getElementById('selectElement').value); // Set the value of the first select
        window.history.replaceState({}, '', '{{ path('search') }}?' + queryParams.toString());
        window.location.reload(); // Reload the page
    }

    function updateUrl2() {
        const queryParams = new URLSearchParams(window.location.search);
        queryParams.delete('artist')
        queryParams.set('query', document.getElementById('selectElement').value); // Set the value of the first select
        window.history.replaceState({}, '', '{{ path('search') }}?' + queryParams.toString());
        window.location.reload(); // Reload the page
    }
</script>
