<section class="whoIsLogged">
    <h1>Profile</h1>
    <div class="profile">
        <img src={{ asset(this.profilePicturePath) }} alt="The profile picture"/>
        <div class="whoIsLoggedName">
            <p>{{ beforeName }} {{ name }}</p>
        </div>
        <a class="logout" href="{{ path('app_logout') }}">{{ logoutButtonName }}</a>
    </div>
</section>